.central-de-resultados-destaque {
  padding: 0;
  margin-top: 22px;

  .list-central-destaque-individual {
    padding: 0;

    li {
      margin-bottom: 8px;

      a {
        display: block;
        text-decoration: none;
        padding: 8px;
        transition: 0.3s ease;
        border-radius: 4px;
        margin: 0;

        > img {
          @media (max-width: 575px) {
            margin: 0 auto;
          }
        }

        h4 {
          font-size: rem(14);
          font-weight: 400;
          margin: 0;
          color: var(--text-color);
          margin-top: 4px;
          transition: 0.3s ease;

          @media (max-width: 575px) {
            text-align: center;
          }
        }

        > div {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          gap: 8px;

          @media (max-width: 767px) {
            justify-content: center;
          }

          img {
            display: none;
            transition: 0.3s ease;
          }
        }

        &:hover {
          background-color: var(--primary-01-default);

          h4 {
            color: var(--text-white);
            font-size: rem(12);
          }

          > div {
            img {
              display: block;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.nav-central-result-destaque {
  max-width: 100px;
  padding: 0;
  padding-left: 13px;
  margin-bottom: 0;

  @media (max-width: 575px) {
    margin: 0 auto;
  }

  .slick-arrow.slick-next {
    right: -13px;
  }

  .item-nav-central-result {
    h3 {
      margin: 0;
      text-align: center;
      font-size: rem(22);
      padding: 0px;
      color: var(--text-primary-01-var-1);
    }
  }
}

.slick-dots {
  margin-top: 24px;
  bottom: auto;

  > li {
    button {
      &::before {
        content: "";
        border-radius: 50%;
        border: 1px solid var(--text-white);
        opacity: 1 !important;
        width: 16px;
        height: 16px;
      }
    }

    &.slick-active {
      button {
        &::before {
          background-color: var(--text-white);
        }
      }
    }
  }
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  z-index: 50;

  &::before {
    content: "\e902";
    color: var(--text-primary-01-var-1);
    font-family: var(--font-icomoon);
  }

  &.slick-prev {
    left: 0;
    &::before {
      transform: rotate(180deg);
    }
  }

  &.slick-next {
    right: 16px;
  }
}

.carousel-timeline {
  padding-left: 0;
  padding-right: 0;

  margin-top: 0;
  margin-bottom: 104px;

  .carousel-timeline-nav {
    padding-bottom: 42px !important;

    .item {
      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    .slick-arrow {
      top: unset;
      bottom: -97px;
      border-radius: 100%;

      width: 32px;
      height: 32px;

      z-index: 2;

      &::before {
        display: block;
        opacity: 1;

        font-family: var(--font-icomoon);
        color: black;
      }
    }

    .slick-prev {
      left: -10px;
    }

    .slick-next {
      right: -10px;
    }
  }

  .carousel-timeline-content {
    max-width: calc(100% - 45px);
    margin: 0 auto;

    .item {
      position: relative;

      .content {
        margin-right: auto;
        margin-left: auto;

        text-align: center;

        h3 {
          display: block;
          margin-bottom: 8px;
          margin-top: 0;
          position: relative;

          line-height: 24px;

          padding-bottom: 24px;

          span {
            font-size: rem(20);
            padding: 8px;
            border-radius: 4px;
            background-color: var(--secondary-01-var-2);
            color: var(--text-primary-01-var-1);
            display: inline-block;
            font-weight: 600;
          }

          border-bottom: 2px solid var(--grey-scale-02);

          &::after {
            position: absolute;
            top: 59px;
            left: 50%;
            transform: translateX(-50%);

            border-radius: 100%;
            content: "";

            width: 12px;
            height: 12px;

            border: 1px solid var(--text-primary-01-var-1);
            background-color: var(--text-white);
          }
        }

        .bottom-carrousel-item {
          max-width: 156px;
          margin: 0 auto;
          padding: 12px;
          border: 1px solid var(--text-grey-scale-02);
          border-radius: 4px;
          text-align: left;

          p {
            font-size: rem(14);
            color: var(--text-color);
            margin-bottom: 8px;
          }

          ul {
            padding-left: 18px;
            margin-bottom: 0;

            li {
              color: var(--text-grey-scale-04);
              font-size: rem(14);
            }
          }
        }
      }
    }

    .slick-current {
      .content {
        h5 {
          &::after {
            border: 1px solid var(--text-primary-01-var-2);
            background-color: var(--text-primary-01-var-2);
          }
        }
      }
    }
  }
}

/* Central de resultados Carousel */

.slider-trimestres-result {
  margin-top: 24px;

  .item-slider-trimestres {
    border-radius: 4px;
    cursor: pointer;

    &.slick-current {
      background-color: var(--primary-01-default);

      h4 {
        color: var(--text-white);
      }
    }

    h4 {
      text-align: center;
      margin: 0;
      padding: 12px;
    }
  }
}

.list-results-trimestres {
  margin-top: 24px;

  .item-lista-files-tri {
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    li {
      width: calc((100% / 2) - 12px);

      @media (max-width: 475px) {
        width: 100%;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
          width: 28px;
        }

        h5 {
          font-size: rem(16);
          margin-left: 4px;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

.wrapper-lider {
  width: 100% !important;

  display: grid !important;
  grid-template-columns: auto auto auto auto !important;
  gap: 16px;
}

@media (max-width: 1200px) {
  .wrapper-lider {
    grid-template-columns: auto auto auto !important;
  }
}

@media (max-width: 1199px) {
  .timeline__content .timeline__item::after {
    height: 149%;
  }
}

@media (max-width: 992px) {
  .wrapper-lider {
    grid-template-columns: auto auto !important;
  }
}

@media (max-width: 768px) {
  .wrapper-lider {
    grid-template-columns: auto !important;
    justify-content: center;
    // gap: 0px;
  }
}

// .mySwiperLider {
//   width: 100% !important;
// }

// .swiper-slide {
//   width: 343px !important;
// }

// .cards-lider {
//   width: fit-content;
//   transition: 0.3s;

//   //   width: 343px;
//   height: 100%;
//   border-bottom: 2px solid var(--secondary-01-var-1);
//   border-bottom-left-radius: 3px;
//   border-bottom-right-radius: 3px;

//   box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

//   img {
//     width: 343px;
//     height: 350px;
//     object-fit: cover;
//   }
// }

// .texts-lider {
//   padding-top: 32px;
//   padding-bottom: 32px;
//   padding-left: 24px;
//   padding-right: 24px;
//   gap: 42px;
//   display: flex;
//   flex-direction: column;
// }

// .infos-lider {
//   h1 {
//     color: var(--pure-black);
//     text-transform: uppercase;
//     // letter-spacing: 1.5px;

//     font-size: 20px;
//     font-family: var(--font-sans);
//     font-weight: 700;
//     line-height: 30px;
//     word-wrap: break-word;
//   }

//   span {
//     // Fundados e CEO da REAG Investimentos
//     color: #999999;
//     font-size: 14px;
//     font-family: var(--font-sans);
//     font-weight: 400;
//     line-height: 19.6px;
//     word-wrap: break-word;
//   }
// }

// .curr-lider {
//   display: flex;
//   justify-content: space-between;

//   span {
//     // Currículo
//     color: #737373;
//     font-size: 16px;
//     font-family: var(--font-sans);
//     font-weight: 400;
//     line-height: 24px;
//     word-wrap: break-word;
//   }

//   img {
//     width: 24px;
//     height: 24px;
//   }
// }

// .swiper-pagination {
//   position: relative !important;
//   margin-top: 40px;

//   .swiper-pagination-bullet {
//     border-radius: 5px;
//     width: 20px;
//     transition: 0.5s;
//   }

//   .swiper-pagination-bullet-active {
//     background-color: var(--text-color-main) !important;
//     transition: 0.5s;
//   }
// }

.texts-lider {
  transition: 0.3s;
}

.infos-lider h1 {
  transition: 0.3s;
}

.infos-lider span {
  transition: 0.3s;
}

.curr-lider {
  transition: 0.3s;
}

.cards-lider:hover {
  border-bottom: 2px solid var(--text-color-main);

  .texts-lider {
    transition: 0.3s;
  }

  .curr-lider {
    transition: 0.3s;
    // padding-left: 5px;
    // padding-right: 5px;
  }

  .curr-lider span {
    font-weight: 700;
    color: var(--text-color-main);
  }

  .infos-lider {
    h1 {
      transition: 0.3s;
      // font-size: 21px;
      // font-weight: 900;
      color: var(--text-color-main);
    }

    span {
      transition: 0.3s;
      // font-size: 15px;
      // font-weight: 900;
      color: var(--text-color-main);
    }
  }
}

.curr-lider img {
  cursor: pointer;
  transition: 0.3s;
}

.curr-lider img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.modal-header {
  padding: 0;
  justify-content: flex-end;
  border: none !important;
  // position: absolute;
  // right: 0;
  // margin-right: 32px;
}

.modal-footer {
  display: none;
}

.dialog {
  // height: 535px;
  height: fit-content;
  padding: 0;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // padding-left: 64px;
  // padding-right: 64px;
  // background: white;
  display: flex;
  gap: 40px;
  // padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  // box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;

  // &::backdrop {
  //   animation: fadeIn 1s ease both;
  //   background: rgb(255 255 255 / 40%);
  //   z-index: 2;
  //   backdrop-filter: blur(20px);
  // }

  .x {
    text-decoration: none;
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
  h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  p {
    line-height: 1.3rem;
    padding: 0.5rem 0;
    a {
      &:visited {
        color: rgb(var(--vs-primary));
      }
    }
  }

  .modal-texts {
    width: 533px;
    // height: 371px;

    h2 {
      color: var(--pure-black);
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-family: var(--font-opensans);
      font-weight: 600;
      line-height: 29px;
    }

    h4 {
      padding-top: 8px;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      font-family: var(--font-sans);
    }

    p {
      font-size: 18px;
      color: var(--pure-black);
      line-height: 27px;
      padding-top: 40px;
      border-bottom: 1px solid gray;
    }
  }

  .modal-imgs {
    img {
      width: 329px;
      height: 350px;
      object-fit: cover;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.link-modal {
  display: flex;
  padding-top: 16px !important;

  align-items: center;
  gap: 8px;
  margin: 0;
  width: fit-content;
  padding: 0;
  text-decoration: none;
  padding-bottom: 0px !important;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 14px !important;
    font-family: var(--font-sans) !important;
    color: #737373 !important;
    font-weight: 400;
    padding: 0 !important;
    padding-bottom: 0px !important;
    border-bottom: none !important;
  }
}

@media (max-width: 768px) {
  .dialog {
    flex-direction: column;
  }

  .timeline__content .timeline__item::after {
    height: 100%;
  }

  .dialog .modal-imgs img {
    margin-top: 50px;
    width: 100%;
  }

  .dialog .modal-texts {
    width: 100%;
  }

  .modal .modal-dialog {
    margin-top: 130px;
    margin-bottom: 130px;
  }
}

@media (max-width: 542px) {
  .modal .modal-dialog {
    margin-top: 337px;
    margin-bottom: 337px;
  }

  .modal .modal-content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 372px) {
  .modal .modal-dialog {
    margin-top: 300px;
    margin-bottom: 300px;
  }
}

.imgs-int {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    object-fit: cover;
  }
}

.container-imgs-int {
  padding-top: 80px;
  padding-bottom: 80px;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.wrapper-diretoria {
  display: grid;
  grid-template-columns: auto auto;
}

.swiper-slide-diretoria {
  width: fit-content !important;
}

@media (max-width: 768px) {
  .wrapper-diretoria {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide-diretoria {
    width: 100% !important;
  }
}

.wrapper-comite {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 16px;
  justify-content: flex-start;
}

.swiper-slide-comite {
  width: fit-content;
}

@media (max-width: 992px) {
  .wrapper-comite {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .wrapper-comite {
    grid-template-columns: auto;
    justify-content: center;
  }
}

.flex-bottom-banner {
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 24px;
  gap: 12px;
}

.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

.carousel-control-prev-icon {
  width: 20px;
  height: 20px;
}

.carousel #destaques-home .box-destaques .slick-dots {
  display: none !important;
}

@media (max-width: 450px) {
  .carousel #destaques-home .box-destaques .destaque-item {
    // width: 262px !important;
    margin-right: 16px;
  }
}
