.box-formulario {
  .form {
    .content {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      label {
        font-size: rem(14);
        color: var(--text-grey-scale-05);
        margin-left: 24px;
      }

      input,
      textarea {
        border-radius: 8px;
        padding: 12px 24px;
        outline: 0;
        border: 1px solid var(--text-grey-scale-05);
        background-color: var(--text-grey-scale-00);
        color: var(--grey-scale-04);

        &::placeholder {
          color: var(--grey-scale-04);
        }
      }
    }
  }

  .options-form {
    margin: 16px 0;

    .termos {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      input {
        margin-top: 6px;
      }
    }
  }

  .buttons-form {
    display: flex;
    gap: 8px;

    @media (max-width: 576px) {
      flex-wrap: wrap;

      button {
        width: 100%;
      }
    }
  }
}
