.table {
  margin-top: 32px;

  thead {
    tr {
      border-bottom: 1px solid var(--Text-accent-accent-dark, #41a65a);
      background: var(--Background-tertiary, #1d2833);

      th {
        color: var(--component-table-table-header-text, #1e1e20);
        font-size: rem(16);
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        padding: 12px 24px;

        span {
          font-weight: 400;
          display: block;
        }

        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }

  tbody {
    border-top: none !important;

    tr {
      border-bottom: 1px solid #aeaeb2;

      &:last-child {
        border-bottom: 1px solid transparent;
      }

      td {
        color: var(--Text-body-body-xl, #1a1a1a);
        font-family: var(--font-opensans);
        font-size: var(--Font-size-body-lg, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Font-line-height-body-lg, 26px);
        vertical-align: middle;

        padding: 12px 24px;

        img {
          margin: 0 auto;
          width: 32px;
        }

        &.not-active {
          a {
            cursor: default;
          }
          img {
            opacity: 0.5;
          }
        }

        &:not(:first-child) {
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}

.table-no-borders {
  tr {
    td,
    th {
      padding: 12px 8px;
      font-size: rem(14);
    }

    th {
      font-weight: 700;
    }
  }
}

.table-accordion-adm {
  thead {
    tr {
      th {
        &:not(:first-child, :nth-child(2)) {
          text-align: center;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        cursor: pointer;
      }

      td {
        &:first-child {
          span {
            font-size: rem(30px);
            color: var(--text-primary-01-var-1);
          }
        }

        &:not(:nth-child(2)) {
          text-align: center;
        }
      }

      &.accordion-collapse {
        td {
          text-align: left;
        }
      }
    }
  }
}

.table-fundos {
  margin: 0;

  margin-top: 32px;
}

.table-fundos-invest {
  padding-bottom: 172px;

  .table-title {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    h5 {
      margin: 0;
      padding: 0;

      color: var(--base-text-text-default, #3a3a3c);
      font-family: "Neue Haas Unica Pro";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
  }

  .table-item-color {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
      margin: 0;
      padding: 0;

      color: var(--base-text-text-default, #3a3a3c);

      /* Text/LG/Regular */
      font-family: "Neue Haas Unica Pro";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
    }

    .color-yellow {
      line-height: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(241, 199, 50, 1);
    }

    .color-red {
      line-height: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(84, 131, 224, 1);
    }

    .color-blue {
      line-height: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #9d2727;
    }
  }
}
