// EPILOQUE

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-Thin.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-ThinItalic.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-Light.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-LightItalic.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-Regular.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-Italic.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-Medium.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-MediumItalic.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-Bold.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-BoldItalic.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-Black.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Epilogue';
	src: url('../fonts/Epilogue/Epilogue-BlackItalic.ttf') format('ttf');
	src: url('../fonts/Epilogue/Epilogue-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

// OPEN SANS

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Thin.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-ThinItalic.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-LightItalic.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Italic.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Medium.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-MediumItalic.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('ttf');
	src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}


@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?8yr2di");
  src: url("../fonts/icomoon/icomoon.eot?8yr2di#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?8yr2di") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?8yr2di") format("woff"),
    url("../fonts/icomoon/icomoon.svg?8yr2di#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aumentar-fonte:before {
  content: "\e909";
  color: white;
}
.icon-arrow-down:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #4d4d4d;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #1358bf;
}
.icon-busca:before {
  content: "\e903";
  color: white;
}
.icon-contraste:before {
  content: "\e904";
  color: white;
}
.icon-diminuir-fonte:before {
  content: "\e905";
  color: white;
}
.icon-exibir:before {
  content: "\e906";
  // color: #fff;
  color: white;
}
.icon-alerts:before {
  content: "\e907";
  color: #fff;
}
.icon-site:before {
  content: "\e908";
  color: #fff;
}
