:root {
  // Font Family

  --font-epilogue: "Epilogue";
  --font-opensans: "Open Sans";
  --font-icomoon: "icomoon";

  // Text Colors

  --text-color: #3B3B3B;

  --text-primary-01-default: #0f8752;

  --text-primary-01-var-1: #b8e4cf;
  --text-primary-01-var-2: #5eba91;
  --text-primary-01-var-3: #4db085;
  --text-primary-01-var-4: #2e9c6b;
  --text-primary-01-var-5: #008349;
  --text-primary-01-var-6: #007c3f;
  --text-primary-01-var-7: #007135;
  --text-primary-01-var-8: #00622b;

  --text-secondary-01-default: #5e9987;

  --text-secondary-01-var-1: #b7d8ce;
  --text-secondary-01-var-2: #94c2b4;
  --text-secondary-01-var-2: #89baab;
  --text-secondary-01-var-2: #73aa99;
  --text-secondary-01-var-2: #4c8c78;
  --text-secondary-01-var-2: #3b7e69;
  --text-secondary-01-var-2: #2d6e59;
  --text-secondary-01-var-2: #205b48;

  --text-tertiary-01-default: #5b677c;

  --text-tertiary-01-var-1: #b2b8c2;
  --text-tertiary-01-var-2: #949dad;
  --text-tertiary-01-var-2: #7f8897;
  --text-tertiary-01-var-2: #677080;
  --text-tertiary-01-var-2: #414c60;
  --text-tertiary-01-var-2: #3e4c63;
  --text-tertiary-01-var-2: #3e4c63;
  --text-tertiary-01-var-2: #2a3649;

  --text-grey-scale-00: #ffffff;
  --text-grey-scale-01: #f5f5f5;
  --text-grey-scale-02: #f0f0f0;
  --text-grey-scale-03: #e0e0e0;
  --text-grey-scale-04: #cccccc;
  --text-grey-scale-05: #8f8f8f;
  --text-grey-scale-06: #525252;
  --text-grey-scale-07: #3f3f3f;
  --text-grey-scale-08: #333333;
  --text-grey-scale-09: #232323;
  --text-grey-scale-10: #191919;

  --text-system-disabled: #d9d9d9;

  --text-system-link: #1a0dab;
  --text-system-focus: #2e82e5;
  --text-system-link-visited: #1b1466;
  --text-system-negative: #d23a20;
  --text-system-alert: #ecb307;
  --text-system-positive: #1e986f;

  // Solid Colors

  --primary-01-default: #0f8752;

  --primary-01-var-1: #b8e4cf;
  --primary-01-var-2: #5eba91;
  --primary-01-var-3: #4db085;
  --primary-01-var-4: #2e9c6b;
  --primary-01-var-5: #008349;
  --primary-01-var-6: #007c3f;
  --primary-01-var-7: #007135;
  --primary-01-var-8: #00622b;

  --secondary-01-default: #5e9987;

  --secondary-01-var-1: #b7d8ce;
  --secondary-01-var-2: #94c2b4;
  --secondary-01-var-3: #89baab;
  --secondary-01-var-4: #73aa99;
  --secondary-01-var-5: #4c8c78;
  --secondary-01-var-6: #3b7e69;
  --secondary-01-var-7: #2d6e59;
  --secondary-01-var-8: #205b48;

  --tertiary-01-default: #5b677c;

  --tertiary-01-var-1: #b2b8c2;
  --tertiary-01-var-2: #949dad;
  --tertiary-01-var-3: #7f8897;
  --tertiary-01-var-4: #677080;
  --tertiary-01-var-5: #414c60;
  --tertiary-01-var-7: #3e4c63;
  --tertiary-01-var-7: #3e4c63;
  --tertiary-01-var-8: #2a3649;

  --grey-scale-00: #ffffff;
  --grey-scale-01: #f5f5f5;
  --grey-scale-02: #f0f0f0;
  --grey-scale-03: #e0e0e0;
  --grey-scale-04: #cccccc;
  --grey-scale-05: #8f8f8f;
  --grey-scale-06: #525252;
  --grey-scale-07: #3f3f3f;
  --grey-scale-08: #333333;
  --grey-scale-09: #232323;
  --grey-scale-10: #191919;

  --system-disabled: #d9d9d9;

  --system-link: #1a0dab;
  --system-focus: #2e82e5;
  --system-link-visited: #1b1466;
  --system-negative: #d23a20;
  --system-alert: #ecb307;
  --system-positive: #1e986f;
}
